
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@*//Layout for Account Manage*@
@if (SignInManager.IsSignedIn(User))
{
    Layout = "/Views/Shared/_Layout.cshtml";
}
//Custom Layout for Login and Registration pages
else
{
    <!DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <script src="~/js/scripts.js"></script>
    <title>KNUStudySystem</title> 
    </head>
    <body>

    </body>
    </html>
}



