@model string

@{
    ViewData["Title"] = "Додавання нової ролі";
}

<link rel="stylesheet" href="~/css/admin.css" />

 <div class="wrapper">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="admin__wrapper  set-center">
        <div class="admin__headline">
            <h2>@ViewData["Title"]</h2>
            <div class="admin__container admin__button-container">
                <div class="admin__button">
                    <form onClick="history.go(-1); return false;">
                        <button type="submit" class = "set-shadow-white pointer">Повернутись на попередню сторінку</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="admin__wrapper set-center">
        <div class="admin__list">
            <form asp-action="Create" method="post">
                <div class="admin__container">
                    <label for="name">Нова роль</label>
                    <input name="name" class = "admin__input" />
                </div>
                <div class="admin__container">
                    <div class="admin__button">
                        <button type="submit" class = "set-shadow-white pointer">Додати</button>
                    </div>
                </div>
            </form>
        </div>  
    </div>
</div>