@{
	ViewData["Title"] = "Навчальні матеріали";
}

<link rel="stylesheet" href="~/css/materials.css" />

<!-- Main -->
<h1 class = "set-center materials__header">@ViewData["Title"]</h1>
<div class="set-center">
    <div class="set-flex">
        <div class="materials__main">
            <div class="materials__row set-flex">
                <div class="materials__row-item">Документи</div>
                <div class="materials__row-item">Відеоматеріали</div>
                <div class="materials__row-item">Презентації</div>
                <div class="materials__row-item">Посилання</div>
            </div>
            <div class="materials__table">
                <div class="materials__table-item set-flex">
                    <div class="materials__type"></div>
                    <div class="materials__name">
                        <p class = "set-center">Лабораторна робота №1</p>
                        <p align = center class = "undername">Назва</p>
                    </div>
                    <div class="materials__subject">
                        <p class = "set-center">АСД</p>
                        <p align = center class = "undername">Предмет</p>
                    </div>
                    <div class="materials__teacher">
                        <p class = "set-center">Ковтун О.І</p>
                        <p align = center class = "undername">Викладач</p>
                    </div>
                    <div class="materials__date">
                        <p class = "set-center">26 вересня 22</p>
                        <p align = center class = "undername">Дата додавання</p>
                    </div>
                    <div class="materials__date">
                        <p class = "set-center">26 вересня 22</p>
                        <p align = center class = "undername">Дата модифікації</p>
                    </div>
                    <div class="materials__file-size">
                        <p class = "set-center">42 Mb</p>
                        <p align = center class = "undername">Вага</p>
                    </div>
                    <div class="materials__type"></div>
                </div>
            </div>
        </div> 
        <div class="materials__column">
            <form action="" method="post">
                <input type="text" placeholder="Пошук">
            </form>
            <div class="materials__column-subjects">
                <p class="materials__column-namer">Предмети</p>
                <div class="materials__columnn-container">
                    <div class="materials__container-item">ПМ</div>
                    <div class="materials__container-item">ООКП</div>
                </div>
                <div class="materials__columnn-container">
                    <div class="materials__container-item">АСД</div>
                    <div class="materials__container-item">пм</div>
                </div>
                <div class="materials__columnn-container">
                    <div class="materials__container-item">АСД</div>
                    <div class="materials__container-item">АСД</div>
                </div>
                <div class="materials__columnn-container">
                    <div class="materials__container-item">АСД</div>
                    <div class="materials__container-item">АСД</div>
                </div>
                <div class="materials__columnn-container">
                    <div class="materials__container-item">пм</div>
                    <div class="materials__container-item">пм</div>
                </div>
            </div>
            <div class="materials__column-recent">
                <p class="materials__column-namer">Останні файли</p>
                <div class="materials__recent-item set-flex">
                    <div class="materials__type"></div>
                    <p class ="materials__row set-center" >Лабораторна робота №1</p>
                </div>
                <div class="materials__recent-item set-flex">
                    <div class="materials__type"></div>
                    <p class ="materials__row set-center" >Лабораторна робота №2</p>
                </div>
                <div class="materials__recent-item set-flex">
                    <div class="materials__type"></div>
                    <p class ="materials__row set-center" >Лабораторна робота №3</p>
                </div>
            </div>
        </div>
    </div>
</div>