@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<link rel="stylesheet" href="~/css/password.css" asp-append-version="true"/>

<div class="password">
    <div class="password__container">
        <div class="wrapper">
            <h2>@ViewData["Title"]</h2>
            <h4 class="logout-link">Please check your email to reset your password.</h4>
        </div>
    </div>
</div>


