@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<link rel="stylesheet" href="~/css/password.css" asp-append-version="true"/>

<div class="password">
    <div class="password__container">
        <div class="password__headline-wrapper">
            <h2>@ViewData["Title"]</h2>
            <h4>Enter your email.</h4>
        </div>
        <div class="password__input-container">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <label class="password__span" asp-for="Input.Email"></label></br>
                <input class="password__input input-box" asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span></br>
                <input class="pointer" type="submit" value="Submit">
            </form>
        </div>
        
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
