@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/css/header.css">
        <link rel="stylesheet" href="~/css/main.css">
        <link rel="stylesheet" href="~/css/footer.css">
        <link rel="stylesheet" href="~/css/style.css">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/MySQLTest.styles.css" asp-append-version="true" />
        <title>Home page</title> 
    </head>
    <body>
<!-- Main -->
        <main>
            <div class="main__mail-container borders-margin">
                <h2>Client Messages</h2>
                <ul class = "main__mail">
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, blanditiis expedita fugit officiis quasi, rem commodi aut ad, voluptatem dolore corporis. Maiores ex iusto consequatur nisi aut ducimus ut vero.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, blanditiis expedita fugit officiis quasi, rem commodi aut ad, voluptatem dolore corporis. Maiores ex iusto consequatur nisi aut ducimus ut vero.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, blanditiis expedita fugit officiis quasi, rem commodi aut ad, voluptatem dolore corporis. Maiores ex iusto consequatur nisi aut ducimus ut vero.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, blanditiis expedita fugit officiis quasi, rem commodi aut ad, voluptatem dolore corporis. Maiores ex iusto consequatur nisi aut ducimus ut vero.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, blanditiis expedita fugit officiis quasi, rem commodi aut ad, voluptatem dolore corporis. Maiores ex iusto consequatur nisi aut ducimus ut vero.</li>
                </ul>
            </div>

            <div class="main__task-bar__container borders-margin">
                <div class="main__task-bar__row set-center">
                    <div class="main__task-bar__item"></div>
                    <div class="main__task-bar__item"></div>
                </div>
                <div class="main__task-bar__row set-center">
                    <div class="main__task-bar__item"></div>
                    <div class="main__task-bar__item"></div>
                </div>
            </div>
        </main>
    </body>
</html>
