<link rel="stylesheet" href="~/css/main.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/calendar.css" asp-append-version="true">
<!-- Main -->
<div class="borders-margin">
    <h2>Client Messages</h2>
    <ul class = "main__mail">
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, blanditiis expedita fugit officiis quasi, rem commodi aut ad, voluptatem dolore corporis. Maiores ex iusto consequatur nisi aut ducimus ut vero.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, blanditiis expedita fugit officiis quasi, rem commodi aut ad, voluptatem dolore corporis. Maiores ex iusto consequatur nisi aut ducimus ut vero.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, blanditiis expedita fugit officiis quasi, rem commodi aut ad, voluptatem dolore corporis. Maiores ex iusto consequatur nisi aut ducimus ut vero.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, blanditiis expedita fugit officiis quasi, rem commodi aut ad, voluptatem dolore corporis. Maiores ex iusto consequatur nisi aut ducimus ut vero.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, blanditiis expedita fugit officiis quasi, rem commodi aut ad, voluptatem dolore corporis. Maiores ex iusto consequatur nisi aut ducimus ut vero.</li>
    </ul>
</div>

<div class="main__task-bar__container borders-margin">
    <div class="main__task-bar__row set-center">
        <div class="main__task-bar__item"></div>
        <div class="main__task-bar__item">
            <div class="calendar light">
                <div class="calendar-header">
                    <div class="month-picker">
                        <span id="month-picker">February</span>
                        <span id="year">2022</span>
                    </div>
                    <div class="month-changer">
                        <span class="month-change" id="prev-month">
                            <pre><</pre>
                        </span>
                        <span class="month-change" id="next-month">
                            <pre>></pre>
                        </span>
                    </div>
                </div>
                <div class="calendar-body">
                    <div class="calendar-week-day">
                        <div>Sun</div>
                        <div>Mon</div>
                        <div>Tue</div>
                        <div>Wed</div>
                        <div>Thu</div>
                        <div>Fri</div>
                        <div>Sat</div>
                    </div>
                    <div class="calendar-days"></div>
                </div>
                <div class="calendar-footer">
                    <div class="toggle">
                        <span>Dark Mode</span>
                        <div class="dark-mode-switch">
                            <div class="dark-mode-switch-ident"></div>
                        </div>
                    </div>
                </div>
                <div class="month-list">
                    <h1 class="year-picker" id="year-picker">2022</h1>
                </div>
                <div class="year-list"></div>
            </div>
        </div>
    </div>
    <div class="main__task-bar__row set-center">
        <div class="main__task-bar__item"></div>
        <div class="main__task-bar__item"></div>
    </div>
</div>
<script src="~/js/calendar_script.js"></script>
