<!-- Main -->
<div class="borders-margin">
    <h2>Client Messages</h2>
    <ul class = "main__mail">
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, blanditiis expedita fugit officiis quasi, rem commodi aut ad, voluptatem dolore corporis. Maiores ex iusto consequatur nisi aut ducimus ut vero.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, blanditiis expedita fugit officiis quasi, rem commodi aut ad, voluptatem dolore corporis. Maiores ex iusto consequatur nisi aut ducimus ut vero.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, blanditiis expedita fugit officiis quasi, rem commodi aut ad, voluptatem dolore corporis. Maiores ex iusto consequatur nisi aut ducimus ut vero.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, blanditiis expedita fugit officiis quasi, rem commodi aut ad, voluptatem dolore corporis. Maiores ex iusto consequatur nisi aut ducimus ut vero.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, blanditiis expedita fugit officiis quasi, rem commodi aut ad, voluptatem dolore corporis. Maiores ex iusto consequatur nisi aut ducimus ut vero.</li>
    </ul>
</div>

<div class="main__task-bar__container borders-margin">
    <div class="main__task-bar__row set-center">
        <div class="main__task-bar__item"></div>
        <div class="main__task-bar__item"></div>
    </div>
    <div class="main__task-bar__row set-center">
        <div class="main__task-bar__item"></div>
        <div class="main__task-bar__item"></div>
    </div>
</div>
