footer {
    background-color: var(--light-header-footer);
    color: var(--light-theme-color);
    height: 50px;
    width: 100%;
}
.footer__row {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    /*position: absolute;
    bottom: 0;*/
}