.password {
    margin:40px;
}
.password__input,.password__span, .password__headline-wrapper > h4, h2 {
    margin:10px 0px;
}
.password__headline-wrapper {
    border-bottom: 1px solid lightgray;
}
.password__input-container{
    margin: 20px 0px;
}
.password__input > input:not(input[type ="submit"]) { 
    width: 250px;
    padding: 5px;
    border: 1px solid lightgray;
}
button, input[type = "submit"] {
    padding: 10px 20px;
    border: none;
    font-size: 12px;
    border-radius: 5px;
}