/* Common style */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
a { 
    text-decoration: none;
    color: #000;
}
.pointer {
    cursor: pointer;
}

.set-flex {
    display: flex;
}

.set-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logout-link {
    color: gray;
    font-weight: 100;
}
.set-shadow-white {
    color: #fff;
    text-shadow: 0px 0px 3px #000;
}
.negative {
    background-color: red !important;
}

.negative-color {
    color: rgb(196, 88, 88) !important;
}

input {
    outline: none;
}