/* Common style */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background-color: var(--light-back);
    color: var(--light-theme-color);
}

:root {
    /*  */
    /* Dark theme */
    --dark-header-footer: #0A0B1F;
    --dark-back: #17182B;
    --dark-form-back: #48465C;
    --dark-background-item: #323048;
    --dark-theme-color: #fff;
    /* Light theme */
    --light-header-footer: #F0FBFB;
    --light-back: #D9EAEA;
    --light-form-back: #F6FBF9;
    --light-background-item: #ADCECC;
    --light-theme-color: #000;
}
main {
    height: 100vh;
}
a {
    text-decoration: none;
    color: var(--light-theme-color);
}
.pointer {
    cursor: pointer;
}

.set-flex {
    display: flex;
}

.set-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logout-link {
    color: gray;
    font-weight: 100;
}
.set-shadow-white {
    color: #fff;
    text-shadow: 0px 0px 3px #000;
}   
.negative {
    background-color: red !important;
}

.negative-color {
    color: rgb(196, 88, 88) !important;
}
/* Controllers */
input[type = "submit"] {
    background-color: #84C7AE;
    color: #fff;
}

.active-button {
    background-color: rgb(30, 96, 211);
    color: #fff;
}

.standart-button {
    background-color: #fff;
    color: rgb(69, 127, 228);
}