main {
    background-color: var(--light-back);
    color: var(--light-theme-color);
}

:root {
    --completed: #34A853;
    --process: #FBBC05;
    --deadline: #EA4335;
}

.task__container-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.task__element {
    width: 230px;
    height: 140px;
    padding: 10px 20px;
    margin: 20px;
    box-shadow: 0px 3px 3px #000;
    border-radius: 20px;
    background-color: var(--light-form-back);
}

.headline {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}

.task__main-filter {
    margin: 50px 0px;
}

.task__main-headline-container {
    width: 40%;
}

.task__main-filter-container {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

    .task__main-filter-container > div {
        margin: 0px 20px;
    }

.task__date, .task__days-left {
    width: 100%;
}

.task__status {
    width: 60px;
    height: 20px;
    border-radius: 40px;
    background-color: var(--completed);
}

.task__headline {
    font-size: 24px;
    font-weight: lighter;
}

.task__wrapper {
    height: 70px;
    padding: 15px 0px;
}

.task__head-part, .task__foot-part {
    height: 20px;
}
