<link rel="stylesheet" href="~/css/tasks.css" asp-append-version="true">
@model List<Assignment>
    <!-- Main -->

<div class="task__main borders-margin">
    <div class="task__main-filter set-center">
        <div class = "task__main-headline-container" >
            <h2 class = "headline">Welcome to "Tasks"</h2>
        </div>

        <div class = "task__main-filter-container" >
            <div class="task__filter-selected">selected</div>
            <div class="task__filter-sort">sort</div>
            <div class="task__filter-filter">filter</div>
            <div class="task__filter-cardshow">show like cards</div>
            <div class="task__filter-rowshow"> show like row</div>
        </div>
    </div>
    <div class="task__container-row">
        <div class="task__element"></div>
        <div class="task__element"></div>
        <div class="task__element"></div>
        <div class="task__element"></div>
        <div class="task__element"></div>
        <div class="task__element"></div>
        <div class="task__element"></div>
        <div class="task__element"></div>
        <div class="task__element"></div>
        <div class="task__element"></div>
        <div class="task__element"></div>
        <div class="task__element"></div>
        <div class="task__element"></div>
        <div class="task__element"></div>
        <div class="task__element"></div>
    </div>
</div>