.header__row {
    display: flex;
}
.borders-margin {
    margin: 20px 30px;
}
.back-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.logo{
    width: 166px;
    height: 38px;
    background-image: url("../media/logo.jpg");
}
nav {
    width: calc(100% - 166px - 235px);
    display: flex;
    justify-content: center;
    align-items: center;
}
nav > ul {
    display: flex;
}
nav > ul > li {
    padding: 0px 22px;
    list-style: none;
}
.header__account { 
    width: 235px;
}
.header__icon {
    width: 18px;
    height: 18px;
    margin: 0px 10px;
}
.header__menu-element {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__account-user {
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
}
.header__account-image { 
    border-radius: 100%;
    height:100%;
}
.header__account-image > img {
    height: 38px;
}
.account-icon {
    width: 25px;
    height: 25px;
    margin: 0px 5px;
}
.header__account-row { 
    width: auto;
    margin: auto;
}